@use "sass:math";
@use "../functions/viewport";

// ------------------------------------------- SASS Information
//  Name:      mixins/_elementSize.scss
//  Author:    GlitchWorker
// -----------------------------------------------------------

@mixin elementSize_vw($width: null, $height: null, $viewport: null) {
  @if $width and $viewport {
    width: viewport.vw($width, $viewport);
  } @else if $width {
    width: viewport.vw($width);
  }
  @if $height and $viewport {
    height: viewport.vw($height, $viewport);
  } @else if $height {
    height: viewport.vw($height);
  }
}

@mixin padding_vw($top: null, $right: null, $bottom: null, $left: null, $viewport: null) {
  @if $top {
    @if $right {
      @if $bottom {
        @if $left {
          @if $viewport {
            padding: viewport.vw($top, $viewport) viewport.vw($right, $viewport) viewport.vw($bottom, $viewport) viewport.vw($left, $viewport);
          } @else {
            padding: viewport.vw($top) viewport.vw($right) viewport.vw($bottom) viewport.vw($left);
          }
        } @else {
          @if $viewport {
            padding: viewport.vw($top, $viewport) viewport.vw($right, $viewport) viewport.vw($bottom, $viewport);
          } @else {
            padding: viewport.vw($top) viewport.vw($right) viewport.vw($bottom);
          }
        }
      } @else {
        @if $viewport {
          padding: viewport.vw($top, $viewport) viewport.vw($right, $viewport);
        } @else {
          padding: viewport.vw($top) viewport.vw($right);
        }
      }
    } @else {
      @if $viewport {
        padding: viewport.vw($top, $viewport);
      } @else {
        padding: viewport.vw($top);
      }
    }
  }
}

@mixin padding_top_vw($size, $viewport: null) {
  @if $viewport {
    padding-top: viewport.vw($size, $viewport);
  } @else {
    padding-top: viewport.vw($size);
  }
}

@mixin padding_right_vw($size, $viewport: null) {
  @if $viewport {
    padding-right: viewport.vw($size, $viewport);
  } @else {
    padding-right: viewport.vw($size);
  }
}

@mixin padding_bottom_vw($size, $viewport: null) {
  @if $viewport {
    padding-bottom: viewport.vw($size, $viewport);
  } @else {
    padding-bottom: viewport.vw($size);
  }
}

@mixin padding_left_vw($size, $viewport: null) {
  @if $viewport {
    padding-left: viewport.vw($size, $viewport);
  } @else {
    padding-left: viewport.vw($size);
  }
}

@mixin margin_vw($top: null, $right: null, $bottom: null, $left: null, $viewport: null) {
  @if $top {
    @if $right {
      @if $bottom {
        @if $left {
          @if $viewport {
            margin: viewport.vw($top, $viewport) viewport.vw($right, $viewport) viewport.vw($bottom, $viewport) viewport.vw($left, $viewport);
          } @else {
            margin: viewport.vw($top) viewport.vw($right) viewport.vw($bottom) viewport.vw($left);
          }
        } @else {
          @if $viewport {
            margin: viewport.vw($top, $viewport) viewport.vw($right, $viewport) viewport.vw($bottom, $viewport);
          } @else {
            margin: viewport.vw($top) viewport.vw($right) viewport.vw($bottom);
          }
        }
      } @else {
        @if $viewport {
          margin: viewport.vw($top, $viewport) viewport.vw($right, $viewport);
        } @else {
          margin: viewport.vw($top) viewport.vw($right);
        }
      }
    } @else {
      @if $viewport {
        margin: viewport.vw($top, $viewport);
      } @else {
        margin: viewport.vw($top);
      }
    }
  }
}

@mixin margin_top_vw($size, $viewport: null) {
  @if $viewport {
    margin-top: viewport.vw($size, $viewport);
  } @else {
    margin-top: viewport.vw($size);
  }
}

@mixin margin_right_vw($size, $viewport: null) {
  @if $viewport {
    margin-right: viewport.vw($size, $viewport);
  } @else {
    margin-right: viewport.vw($size);
  }
}

@mixin margin_bottom_vw($size, $viewport: null) {
  @if $viewport {
    margin-bottom: viewport.vw($size, $viewport);
  } @else {
    margin-bottom: viewport.vw($size);
  }
}

@mixin margin_left_vw($size, $viewport: null) {
  @if $viewport {
    margin-left: viewport.vw($size, $viewport);
  } @else {
    margin-left: viewport.vw($size);
  }
}