@use "sass:math";
@use "../functions/viewport";

// ------------------------------------------- SASS Information
//  Name:      mixins/_elementSize.scss
//  Author:    GlitchWorker
// -----------------------------------------------------------

@mixin elementSize_vw($elementSizeW: null, $elementSizeH: null, $viewport: null) {
  @if $elementSizeW and $viewport {
    width: viewport.get_vw($elementSizeW, $viewport);
  } @else if $elementSizeW {
    width: viewport.get_vw($elementSizeW);
  }
  @if $elementSizeH and $viewport {
    height: viewport.get_vw($elementSizeH, $viewport);
  } @else if $elementSizeH {
    height: viewport.get_vw($elementSizeH);
  }
}

@mixin padding_vw($paddingSizeT: null, $paddingSizeR: null, $paddingSizeB: null, $paddingSizeL: null) {
  @if $paddingSizeT {
    padding: viewport.get_vw($paddingSizeT);
  }
  @if $paddingSizeR {
    padding: viewport.get_vw($paddingSizeT) viewport.get_vw($paddingSizeR);
  }
  @if $paddingSizeB {
    padding: viewport.get_vw($paddingSizeT) viewport.get_vw($paddingSizeR) viewport.get_vw($paddingSizeB);
  }
  @if $paddingSizeL {
    padding: viewport.get_vw($paddingSizeT) viewport.get_vw($paddingSizeR) viewport.get_vw($paddingSizeB) viewport.get_vw($paddingSizeL);
  }
}

@mixin padding_top_vw($paddingSize) {
  padding-top: viewport.get_vw($paddingSize);
}

@mixin padding_right_vw($paddingSize) {
  padding-right: viewport.get_vw($paddingSize);
}

@mixin padding_bottom_vw($paddingSize) {
  padding-bottom: viewport.get_vw($paddingSize);
}

@mixin padding_left_vw($paddingSize) {
  padding-left: viewport.get_vw($paddingSize);
}

@mixin margin_vw($marginSizeT: null, $marginSizeR: null, $marginSizeB: null, $marginSizeL: null) {
  @if $marginSizeT {
    margin: viewport.get_vw($marginSizeT);
  }
  @if $marginSizeR {
    margin: viewport.get_vw($marginSizeT) viewport.get_vw($marginSizeR);
  }
  @if $marginSizeB {
    margin: viewport.get_vw($marginSizeT) viewport.get_vw($marginSizeR) viewport.get_vw($marginSizeB);
  }
  @if $marginSizeL {
    margin: viewport.get_vw($marginSizeT) viewport.get_vw($marginSizeR) viewport.get_vw($marginSizeB) viewport.get_vw($marginSizeL);
  }
}

@mixin margin_top_vw($marginSize) {
  margin-top: viewport.get_vw($marginSize);
}

@mixin margin_right_vw($marginSize) {
  margin-right: viewport.get_vw($marginSize);
}

@mixin margin_bottom_vw($marginSize) {
  margin-bottom: viewport.get_vw($marginSize);
}

@mixin margin_left_vw($marginSize) {
  margin-left: viewport.get_vw($marginSize);
}