// ------------------------------------------- SASS Information
//  Name:      mixins/_fontWeight.scss
//  Author:    GlitchWorker
// -----------------------------------------------------------

@mixin fontWeight($weight) {
  @if $weight == "Thin" or $weight == "Hairline" {
    font-weight: 100;
  }
  @else if $weight == "ExtraLight" or $weight == "UltraLight" {
    font-weight: 200;
  }
  @else if $weight == "Light" {
    font-weight: 300;
  }
  @else if $weight == "DemiLight" {
    font-weight: 350;
  }
  @else if $weight == "Normal" or $weight == "Regular" {
    font-weight: 400;
  }
  @else if $weight == "Medium" {
    font-weight: 500;
  }
  @else if $weight == "SemiBold" or $weight == "DemiBold" {
    font-weight: 600;
  }
  @else if $weight == "Bold" {
    font-weight: 700;
  }
  @else if $weight == "ExtraBold" or $weight == "UltraBold" {
    font-weight: 800;
  }
  @else if $weight == "Black" or $weight == "Heavy" {
    font-weight: 900;
  }
  @else if $weight == "ExtraBlack" or $weight == "UltraBlack" {
    font-weight: 950;
  }
}