// ------------------------------------------- SASS Information
//  Name:      mixins/_opacity.scss
//  Author:    GlitchWorker
// -----------------------------------------------------------

@mixin opacity($opacity) {
  $opacityPercentage: $opacity * 100;
  opacity: $opacity;
  filter: alpha(opacity=$opacityPercentage);
  -ms-filter: "alpha(opacity=#{$opacityPercentage})";
  -moz-opacity: $opacity;
  -khtml-opacity: $opacity;
  zoom:1;
}