{{#if (eq layout 'pc')}}
<footer id="section-footer">
  <p>footer</p>
</footer><!-- /#section-footer -->
{{else}}
<footer id="section-footer">
  <p>footer</p>
</footer><!-- /#section-footer -->
{{/if}}
