{{#if_eq layout 'pc'}}
<header id="section-header">
  <h1>header</h1>
</header><!-- /#section-header -->
{{else}}
<header id="section-header">
  <h1>header</h1>
</header><!-- /#section-header -->
{{/if_eq}}
