/* ------------------------------------------- SASS Information
 Name:      app.scss
 Author:    #{$WEB_AUTHOR}
 Info:      #{$WEB_SITE_NAME}
----------------------------------------------------------- */

/* -----------------------------------------------------------
  COMMON: config
----------------------------------------------------------- */

@import '../../common/stylesheets/config';

/* -----------------------------------------------------------
  STYLES: layouts
----------------------------------------------------------- */

@import 'layouts/default';
@import 'layouts/**/!(_default)*';

/* -----------------------------------------------------------
  STYLES: partials
----------------------------------------------------------- */

@import 'partials/**/*';

/* -----------------------------------------------------------
  STYLES: pages
----------------------------------------------------------- */

@import 'pages/**/*';

/* -----------------------------------------------------------
  STYLES: components
----------------------------------------------------------- */

@import 'components/**/*';