$WEB_BASE_URL: "http://dev.hoge.com/";
$WEB_SITE_URL: "http://dev.hoge.com/";
$WEB_SITE_NAME: "これはサイト名です";
$WEB_AUTHOR: "これは作成者です";
$WEB_MODIFIER: "これは編集者です";
// -----------------------------------------------------------
//  GLOBAL FUNCTIONS
// -----------------------------------------------------------

$BASE_COLOR: #fff;
$MIN_WIDTH: 780px;
$MAX_WIDTH: 1280px;
$FONT_FAMILY: Hiragino Kaku Gothic Pro, "ヒラギノ角ゴ Pro W3", Meiryo, "メイリオ", Osaka, "ＭＳ Ｐゴシック", sans-serif;
$FONT_SIZE: 16px;
$LINE_HEIGHT: 1.8;
$FONT_COLOR: #000;
$LINK_COLOR: $FONT_COLOR;