/* ------------------------------------------- SASS Information
 Name:      layouts/_content.scss
 Author:    #{$WEB_AUTHOR}
 Modifier:  #{$WEB_MODIFIER}
----------------------------------------------------------- */
#section-contents {
  @include RESPONSIVE('PC', $MIN_WIDTH) {

  }
  @include RESPONSIVE('SP', $MIN_WIDTH) {

  }
}