/* ------------------------------------------- SASS Information
 Name:      partials/_footer.scss
 Author:    #{$WEB_AUTHOR}
 Modifier:  #{$WEB_MODIFIER}
----------------------------------------------------------- */
#section-footer {
  @include RESPONSIVE('PC', $MIN_WIDTH) {

  }
  @include RESPONSIVE('SP', $MIN_WIDTH) {

  }
}