// -----------------------------------------------------------
//  GLOBAL FUNCTIONS
// -----------------------------------------------------------

$BASE_COLOR: #fff;
$MIN_WIDTH: 780px;
$MAX_WIDTH: 1280px;
$FONT_FAMILY: Hiragino Kaku Gothic Pro, "ヒラギノ角ゴ Pro W3", Meiryo, "メイリオ", Osaka, "ＭＳ Ｐゴシック", sans-serif;
$FONT_SIZE: 16px;
$LINE_HEIGHT: normal;
$FONT_COLOR: #000;
$LINK_COLOR: $FONT_COLOR;