@use "sass:math";
@use "config";

/* ------------------------------------------- SASS Information
 Name:      _reset.scss
----------------------------------------------------------- */

html, body,
h1, h2, h3, h4, h5, h6,
a, p, span,
em, small, strong,
sub, sup,
mark, del, ins, strike,
abbr, dfn,
blockquote, q, cite,
code, pre,
ol, ul, li, dl, dt, dd,
div, section, article,
main, aside, nav,
header, hgroup, footer,
img, figure, figcaption,
address, time,
audio, video,
canvas, iframe,
details, summary,
fieldset, form, label, legend,
table, caption,
tbody, tfoot, thead,
tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}

body {
  line-height: 1;
  // iPhone text fix
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  all: unset;
  display: revert;
  cursor: revert;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  font-weight: normal;
}

img {
  border-style: none;
  vertical-align: bottom;
}

img, video {
  max-width: 100%;
  height: auto;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

blockquote, q {
  &:before, &:after {
    content: '';
    content: none;
  }
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  &::-webkit-search-decoration {
    display: none;
  }
  &:focus {
    outline-offset: -2px;
  }
}

select {
  &::-ms-expand {
    display: none;
  }
  &::-webkit-search-decoration {
    display: none;
  }
  &:focus {
    outline-offset: -2px;
  }
}

button {
  background-color: transparent;
}

textarea {
  resize: none;
  &::-webkit-search-decoration {
    display: none;
  }
  &:focus {
    outline-offset: -2px;
  }
}

input, select, button, textarea {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none
}

// .clearfix {
//   @include config.clearfix;
// }

// .inlinefix {
//   @include inlinefix;
// }