/* ------------------------------------------- SASS Information
 Name:      app.scss
 Author:    #{$WEB_AUTHOR}
 Info:      #{$WEB_SITE_NAME}
----------------------------------------------------------- */

/* -----------------------------------------------------------
  COMMON: config
----------------------------------------------------------- */

@use '../../common/stylesheets/config';
@use '../../common/stylesheets/reset';

/* -----------------------------------------------------------
  STYLES: layouts
----------------------------------------------------------- */

@use 'layouts/default';
@use 'layouts/wrapper';
@use 'layouts/content';

/* -----------------------------------------------------------
  STYLES: partials
----------------------------------------------------------- */

@use 'partials/header';
@use 'partials/footer';

/* -----------------------------------------------------------
  STYLES: pages
----------------------------------------------------------- */

@use 'pages/index';
@use 'pages/hoge';
@use 'pages/hoge_fuga';

/* -----------------------------------------------------------
  STYLES: components
----------------------------------------------------------- */
