// ------------------------------------------- SASS Information
//  Name:      utils/_align.scss
//  Author:    GlitchWorker
// -----------------------------------------------------------

.al { text-align:   left!important; }
.ac { text-align: center!important; }
.ar { text-align:  right!important; }